@font-face {
    font-family: bangna;
    src: url('../font/Bangna-New.ttf');
}
@font-face{
    font-family : FontDek;
    src: url('../font/SanamDeklen_chaya.ttf');
}

/* Style for our header texts
* --------------------------------------- */

h1 {
    font-size: 5em;
    font-family: 'bangna', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}



/* Centered texts in each section
* ------------------------------ */

/* Backgrounds will cover all the section
* --------------------------------------- */

.section {
    background-size: cover;
}

.slide {
    background-size: cover;
}

.event-padding {
    padding: 40px;
}

.contact-padding {
    padding-top: 40px;
}

1 padding-top: 20px;

102.1. 23.30222.10 .0122012x;
}

.logo-padding {
    padding-top: 80px;
}

.qa-padding {
    padding-top: 80px;
}

.detail-content-color {
    background-color: #dfeef2;
    padding-bottom: 200px;
    border-radius: 35px;
    margin-top: 70px;
}

.event-content-color {
    background-color: rgb(255, 215, 217);
    padding-bottom: 400px;
    margin-top: 60px;
    border-radius: 35px;

}

.qa-content-color {
    background-color: #e1e7fa;
    padding-bottom: 400px;
    padding-top: 30px;
    margin-top: 70px;
    border-radius: 35px;


}

.contact-content-color {
    background-color: #f8ecf8;
    padding-bottom: 250px;
    margin-top: 50px;
    border-radius: 35px;

}




/* Defining each section background and styles
* --------------------------------------- */

#section0 {
    background-image: url(../imgs/B2.jpg);
}

#section0 h1 {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    color: inherit;
}
#section0 h1.dekren {

    font-family: 'FontDek';
    line-height: 150px;
}
#section0 h2 {
    color: #FB7F86;
}

#section1 {
    background-color: #C2E3Ec;
    padding-top: 50px;

}

#section2 {
    background-color: #FB7F86;
    padding-top: 50px;
}

#section3 {
    background-color: #B8C8FD;
    padding-top: 50px;
}

#section4 {
    background-color: #D9C7D9;
    padding-top: 50px;
}


/*Adding background for the slides
* --------------------------------------- */

#slide1 {
    background-color: #B8C8FD;
    padding: 6% 0 0 0;
}

#slide2 {
    background-image: url(imgs/bg5.jpg);
    padding: 6% 0 0 0;
}


/* Bottom menu
* --------------------------------------- */

#infoMenu li a {
    color: #FFF;
}

/* Override FullpageJS Nav */
#fp-nav ul li, .fp-slidesNav ul li{
    border-radius: 50%;
    border: 4px solid white;
}
.dek{
    font-family: FontDek;
    
}

.contact-box {
    margin-bottom: 30px;
}
.contact-box > a > img {
    margin-bottom: 10px;
}
.contact-line {
    border-top: 2px solid #D9C7D9; 
    margin-top: 33px;
}